html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main-box {
  width: 800px;
  height: 500px;
  background-color: gray;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.left-box {
  width: 400px;
  height: 100%;
  padding: 10px;
}

.inner-left-box {
  width: 100%;
  height: 100%;
  background-color: chocolate;
  font-size: 42px;
  font-weight: 900;
  display: flex;
  flex-direction: column-reverse;
  color: rgb(255, 180, 126)
}
.right-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  padding: 10px 10px 10px 5px;
}

.top-box,
.bottom-box {
  height: 190px;
  width: 100%;
  background-color: chocolate;
}

.top-box{
    margin-bottom: 10px;
}

.bottom-box{
    margin-top: 10px;
}

.middle-box {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inner-box {
  height: 100%;
  width: 185px;
  background-color: chocolate;
}
